main {
  width: 100%;
  height: 100%;
}

.carousel-bg {
  padding-bottom: 1%;
  margin-bottom: 3%;
  padding-top: 5%;
}

.containerSlider {
  height: 100%;
  margin: auto;
  width: 70%;
}

.contenuContainer {
  color: aliceblue;
  height: auto;
  width: auto;
  margin: auto;
  text-align: center;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.containerText {
  position: absolute;
  top: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: rgb(250, 250, 250);
  width: 35%;
  margin-left: 18%;
  gap: 20px;
  letter-spacing: 3px;
}

#slider {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

#slide {
  width: 100%;
  height: auto;
  border-radius: 15px;
  z-index: -1;
}

#precedent,
#suivant {
  position: absolute;
  font-size: 100px;
  background-color: rgba(0, 0, 0, 0.762);
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  top: 50%;
}

#precedent {
  left: 0;
}

#suivant {
  right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
  opacity: 1;
}

.footer1 {
  width: 100%;
  height: 200px;
  background-color: #3e3e3e;
  display: flex;
  color: white;
  justify-content: space-around;
}

.footer1-gauche {
  align-self: center;
}

.titre-footer1 {
  font-size: 2.75em;
  font-weight: bolder;
}

.footer1-droite {
  align-self: center;
  flex-direction: column;
  display: flex;
  gap: 15px;
}

.link-bouton1 {
  background-color: #3e3e3e;
  width: 280px;
  border: white solid 2px;
  border-radius: 5px;
  color: white;
  font-size: 1.3em;
  transition: 0.3s;
  text-align: center;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.link-bouton1:hover {
  background-color: white;
  color: rgb(9, 172, 9);
}

.link-bouton2 {
  background-color: white;
  width: 280px;
  border: #3e3e3e solid 2px;
  border-radius: 5px;
  color: #3e3e3e;
  font-size: 1.3em;
  transition: 0.3s;
  text-align: center;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.link-bouton2:hover {
  border: white;
  color: rgb(9, 172, 9);
}

.footer2 {
  width: 100%;
  height: 500px;
  background-color: #9bc31c;
}

.logo1-footer2 {
  width: 400px;
}

.footer2-haut {
  display: flex;
  padding-top: 40px;
  height: 350px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
  gap: 20px;
}

.footer2-gauche {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.text1-footer2 {
  text-align: justify;
  color: white;
  font-size: 1.15em;
  margin-left: 20px;
  margin-right: 10px;
  line-height: 1.3em;
}

.footer2-mid {
  color: white;
  width: 300px;
  margin-top: 10px;
}

.footer2-droite {
  color: white;
  width: 550px;
  margin-top: 10px;
}

.titre1-footer2 {
  font-size: 1.1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.cont {
  border-bottom: white 1px solid;
  padding-bottom: 15px;
}

.immo {
  border-bottom: white 1px solid;
  padding-bottom: 15px;
  padding-left: 12px;
}

.adresse-footer2 {
  font-size: 1.15em;
  line-height: 1.3em;
}

.mail-footer2 {
  font-size: 1.15em;
  color: white;
}

.espacepro-footer2 {
  text-decoration: none;
  margin-top: 50px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  color: #8fb319;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: -moz-fit-content;
  width: fit-content;
}

.footer2-mid-coor {
  display: flex;
  flex-direction: column;
}

#icon-footer2 {
  color: #8fb319;
  margin-right: 4px;
  font-size: 0.85em;
}

.ref-footer2 {
  text-decoration: none;
  color: white;
  font-size: 1.15em;
}

.liste-footer2-gauche {
  list-style: none;
  margin-left: -30px;
  line-height: 1.5em;
}

.liste-footer2-droite {
  list-style: none;
  line-height: 1.5em;
}

.ensemble-liste-footer2 {
  display: flex;
  gap: 80px;
  margin-top: -15px;
}

.notation {
  display: flex;
  border: double white 1.5px;
  color: #3e3e3e;
  width: 400px;
  height: 120px;
  margin-top: 20px;
}

.gauche-notation {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 160px;
  line-height: 0px;
  border-right: white 1.5px double;
  margin-top: 15px;
  margin-bottom: 15px;
}

.note {
  font-size: 2em;
  margin-top: 15px;
}

.etoile-footer2 {
  margin-top: -7px;
}

.etoile-pleine {
  width: 23px;
}

.etoile-moit {
  width: 20px;
}

.nb-davis {
  font-size: 0.7em;
  margin-top: 18px;
}

.droite-notation {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  width: 240px;
  justify-content: center;
}

.lire-avis {
  text-decoration: none;
  color: white;
  font-size: 0.7em;
  background-color: #e60063;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 130px;
  border-radius: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 20px;
}

.garantidvisor {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.garanti {
  font-size: 0.9em;
  color: #3e3e3e;
  margin-top: 20px;
}

.immodvisor {
  height: 20px;
  margin-top: 18px;
}

.footer2-bas {
  border-top: white solid 1px;
  margin-left: 85px;
  margin-right: 100px;
  color: white;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
}

.liste-footer2-bas {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.link-elem3 {
  text-decoration: none;
  color: white;
}

.elem3-footer2 {
  border-right: white 1.5px solid;
  padding-right: 20px;
  height: 14px;
}

.fblk {
  right: 0;
  margin-right: 100px;
  position: absolute;
  margin-top: -30px;
}

.link-fblk {
  text-decoration: none;
  color: white;
  font-size: 0.9em;
}

.footer3 {
  height: 80px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  color: #3e3e3e;
  font-size: 0.9em;
}

.topheader {
  color: rgb(7, 7, 7);
  display: flex;
  flex-direction: row;
  background-color: rgba(128, 128, 128, 0.121);
  width: 100%;
  justify-content: flex-end;
}

#icon-user {
  font-size: 1em;
  color: green;
  margin-right: 10px;
  font-weight: bold;
}

.moncompte {
  text-decoration: none;
}

#icon-favoris {
  font-size: 1em;
  font-weight: bold;
  color: green;
  margin-right: 10px;
}

.mesfavoris {
  text-decoration: none;
}

.header2 {
  width: 100%;
  height: 120px;
}

nav {
  background-color: white;
  display: flex;
  text-decoration: none;
  display: flex;
  padding: 0 20px;
}

.logo-header1 {
  width: 150px;
}

.liste-header {
  display: flex;
  padding-top: 20px;
  padding: 0 60px;
}

.li-header2 {
  list-style: none;
  padding: 0 20px;
  font-weight: bold;
}

body {
  margin: 0;
}

#formulaire {
  background-color: rgb(255, 255, 255);
  width: 60%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 6px;
  height: 115px;
  text-align: center;
  border-bottom: 7px solid rgb(2, 201, 2);
}/*# sourceMappingURL=main.css.map */