.footer1 {
  width: 100%;
  height: 200px;
  background-color: #3e3e3e;
  display: flex;
  color: white;
  justify-content: space-around;
}

.footer1-gauche {
  align-self: center;
}

.titre-footer1 {
  font-size: 2.75em;
  font-weight: bolder;
}

.footer1-droite {
  align-self: center;
  flex-direction: column;
  display: flex;
  gap: 15px;
}

.link-bouton1 {
  background-color: #3e3e3e;
  width: 280px;
  border: white solid 2px;
  border-radius: 5px;
  color: white;
  font-size: 1.3em;
  transition: 0.3s;
  text-align: center;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.link-bouton1:hover {
  background-color: white;
  color: rgb(9, 172, 9);
}

.link-bouton2 {
  background-color: white;
  width: 280px;
  border: #3e3e3e solid 2px;
  border-radius: 5px;
  color: #3e3e3e;
  font-size: 1.3em;
  transition: 0.3s;
  text-align: center;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.link-bouton2:hover {
  border: white;
  color: rgb(9, 172, 9);
}

.footer2 {
  width: 100%;
  height: 500px;
  background-color: #9bc31c;
}

.logo1-footer2 {
  width: 400px;
}

.footer2-haut {
  display: flex;
  padding-top: 50px;
  height: 85%;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
  gap: 20px;
}

.footer2-gauche {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.text1-footer2 {
  text-align: justify;
  color: white;
  font-size: 1.15em;
  margin-left: 20px;
  margin-right: 10px;
  line-height: 1.3em;
}

.footer2-mid {
  color: white;
  width: 300px;
  margin-top: 10px;
}

.footer2-droite {
  color: white;
  width: 550px;
  margin-top: 10px;
}

.titre1-footer2 {
  font-size: 1.1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.cont {
  border-bottom: white 1px solid;
  padding-bottom: 15px;
}

.immo {
  border-bottom: white 1px solid;
  padding-bottom: 15px;
  padding-left: 12px;
}

.adresse-footer2 {
  font-size: 1.15em;
  line-height: 1.3em;
}

.mail-footer2 {
  font-size: 1.15em;
  color: white;
}

.espacepro-footer2 {
  text-decoration: none;
  margin-top: 50px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  color: #8fb319;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: -moz-fit-content;
  width: fit-content;
}

.footer2-mid-coor {
  display: flex;
  flex-direction: column;
}

#icon-footer2 {
  color: #8fb319;
  margin-right: 4px;
  font-size: 0.85em;
}

.ref-footer2 {
  text-decoration: none;
  color: white;
  font-size: 1.15em;
}

.liste-footer2-gauche {
  list-style: none;
  margin-left: -30px;
  line-height: 1.5em;
}

.liste-footer2-droite {
  list-style: none;
  line-height: 1.5em;
}

.ensemble-liste-footer2 {
  display: flex;
  gap: 80px;
  margin-top: -15px;
}

.topheader {
  color: rgb(7, 7, 7);
  display: flex;
  flex-direction: row;
  background-color: rgba(128, 128, 128, 0.121);
  width: 100%;
  justify-content: flex-end;
}

#icon-user {
  font-size: 1em;
  color: green;
  margin-right: 10px;
  font-weight: bold;
}

.moncompte {
  text-decoration: none;
}

#icon-favoris {
  font-size: 1em;
  font-weight: bold;
  color: green;
  margin-right: 10px;
}

.mesfavoris {
  text-decoration: none;
}

.header2 {
  width: 100%;
  height: 120px;
}

nav {
  background-color: white;
  display: flex;
  text-decoration: none;
  display: flex;
  padding: 0 20px;
}

.logo-header1 {
  width: 150px;
}

.liste-header {
  display: flex;
  padding-top: 20px;
  padding: 0 60px;
}

.li-header2 {
  list-style: none;
  padding: 0 20px;
  font-weight: bold;
}

body {
  margin: 0;
}

#formulaire {
  background-color: rgb(255, 255, 255);
  width: 60%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 6px;
  height: 115px;
  text-align: center;
  border-bottom: 7px solid rgb(2, 201, 2);
}/*# sourceMappingURL=main.css.map */