// partie 1 footer

.footer1 {
  width: 100%;
  height: 200px;
  background-color: #3e3e3e;
  display: flex;
  color: white;
  justify-content: space-around;
}
.footer1-gauche {
  align-self: center;
}
.titre-footer1 {
  font-size: 2.75em;
  font-weight: bolder;
}
.footer1-droite {
  align-self: center;
  flex-direction: column;
  display: flex;
  gap: 15px;
}
.link-bouton1 {
  background-color: #3e3e3e;
  width: 280px;
  border: white solid 2px;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: bolder;
  transition: 0.3s;
  text-align: center;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  text-decoration: none;
}
.link-bouton1:hover {
  background-color: white;
  color: rgb(9, 172, 9);
}
.link-bouton2 {
  background-color: white;
  width: 280px;
  border: #3e3e3e solid 2px;
  border-radius: 5px;
  color: #3e3e3e;
  font-size: 1em;
  font-weight: bolder;
  transition: 0.3s;
  text-align: center;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  text-decoration: none;
}
.link-bouton2:hover {
  border: white;
  color: rgb(9, 172, 9);
}

// footer 2
.footer2 {
  width: 100%;
  height: 500px;
  background-color: #9bc31c;
}
.logo1-footer2 {
  width: 400px;
}
.footer2-haut {
  display: flex;
  padding-top: 50px;
  height: 85%;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  gap: 2%;
}
.footer2-gauche {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.text1-footer2 {
  text-align: justify;
  color: white;
  font-size: 1.2em;
  margin-left: 5%;
}
.footer2-mid {
  color: white;
  width: 20%;
}
.footer2-droite {
  color: white;
  width: 35%;
}
