.topheader {
  color: rgb(7, 7, 7);
  display: flex;
  flex-direction: row;
  background-color: grey;
  width: 100%;
}

.headersecond {
  width: 100%;
  height: 120px;
}
nav {
  background-color: white;
  display: flex;
  text-decoration: none;
  display: flex;
  padding: 0 20px;
}
img {
  width: 9%;
}

ul {
  display: flex;
  padding-top: 20px;
  padding: 0 60px;
}

li {
  list-style: none;
  padding: 0 20px;
  font-weight: bold;
}
.nousrejoindre {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: white;
  background-color: black;
}
.contacteznous {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: white;
  background-color: black;
  text-align-last: justify;
}
