// header 1
.topheader {
  color: rgb(7, 7, 7);
  display: flex;
  flex-direction: row;
  background-color: rgba(128, 128, 128, 0.121);
  width: 100%;
  justify-content: flex-end;
  height: 40px;
}
.logo-header1{
  align-items: center;
  display: flex;
}
#icon-user {
  font-size: 1em;
  color: #8fb319;;
  margin-right: 10px;
  font-weight: bold;
}
.moncompte {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  padding-top: 6px;
  font-size: 1.2em;
}
#icon-favoris {
  font-size: 1em;
  font-weight: bold;
  color: #8fb319;;
  margin-right: 10px;
}
.mesfavoris {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  padding-top: 6px;
  font-size: 1.2em;
}
// header 2
.header2 {
  width: 100%;
  height: 120px;
  display: flex;
}
nav {
  background-color: white;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
.logo-header1 {
  width: 180px;
  left: 0;
}

.liste-header {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.li-header2 {
  list-style: none;
  padding: 0 20px;
  font-weight: bold;
}
.link-header2{
  text-decoration: none;
  color: black;
}
.link-header2:hover{
  color: #8fb319;
  transition: 0.1s;
}
.header2-droite {
  list-style: none;
  position: absolute;
  right: 45px;
}
.nousrejoindre {
  color: white;
  background-color: black;
  text-decoration: none;
  list-style: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: 30px;
  padding: 10px 7px;
  border-radius: 5px;
}
.nousrejoindre:hover , .contacteznous:hover{
  background-color: #8fb319;
  transition: 0.2s;
}
.contacteznous {
  color: white;
  background-color: black;
  text-decoration: none;
  list-style: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px 7px;
  border-radius: 5px;
}

// header3
.nav-mobile {
  position: relative;
}

.menu-icon {
  display: block;
  cursor: pointer;
  font-size: 24px;
  color: #3e3e3e;
  background-color: white;
  border: #3e3e3e 1px solid;
  padding: 4px 10px;
  right: 5px;
  top: -75px;
  position: absolute;
}
.menu-icon:hover{
  color: rgb(0, 0, 255);
}
.nav-mobile_menu {
  list-style: none;
  display: none;
  left: 0px;
  position: fixed;
  background-color: #8fb319;
  width: 100%;
  height: 100%;
  top: -16px;
}
.first-li{
  margin-top: 60px;
}
.nav-mobile_menu li {
  padding: 10px;
  padding: 20px;
  margin-left: -35px;
}
.nav-link4{
  color: #ffffff;
  text-decoration: none;
  margin-left: 10%;
  margin-bottom: 5vh;
}
.nav-link4:hover{
  color: #3e3e3e;
  transition: 0.4s;
}
.topmobile{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.nav-mobile_menu li a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
}
.link-header2:hover{
  color: #3e3e3e;
  transition: 0.4s;
}
#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .topmobile .nav-mobile_menu {
  display: block;
}

.nousrejoindrebis{
  color: white;
  text-decoration: none;
  list-style: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.nousrejoindrebis:hover,.contacteznousbis:hover{
  color: #8fb319;
}
.contacteznousbis {
  color: white;
  background-color: #3e3e3e;
  text-decoration: none;
  list-style: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.libis{
  margin-top: 40px;
  background-color: #3e3e3e;
  margin-bottom: 10px;
  width: 93%;
  height: 8px;
  border-radius: 5px;
}
.libis2{
  background-color: #3e3e3e;
  width: 93%;
  border-radius: 5px;
  height: 8px;
}

@media screen and (min-width: 1100px) {
  .header3 {
    display: none;
  }
  .navmobile {
      display: none;
  }
}
@media screen and (max-width: 1100px) {
  .nav1 {
      display: none;
  }
  .nav2 {
        display: none;
  }
  .header3{
    font-size: 1em;
    position: fixed;
    width: 100%;
    z-index: 1000;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .liste-header,.header2-droite{
    display: none;
  }
}
