main {
  width: 100%;
  height: 100%;
}
.carousel-bg {
  padding-bottom: 1%;
  margin-bottom: 3%;
  padding-top: -50px;
}

.containerSlider {
  height: 100%;
  margin: auto;
  width: 100%;
  // margin-left: 20%;
}
.contenuContainer {
  color: aliceblue;
  height: auto;
  width: auto;
  margin: auto;
  text-align: center;
  text-decoration: solid;
}

.containerText {
  position: absolute;
  top: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: rgb(250, 250, 250);
  margin-left: 15%;
  gap: 20px;
  letter-spacing: 3px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.612);
}
.reseau-carou{
  font-size: 4em;
  font-weight: 900;
}
.conseil-carou{
  font-size: 4em;
  font-weight: lighter;
  margin-top: -20px;
}
#slider {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
#slide {
  width: 100%;
  height: auto;
  // border-radius: 15px;
  z-index: -1;
}

#precedent,
#suivant {
  position: absolute;
  font-size: 100px;
  background-color: rgba(0, 0, 0, 0.762);
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  top: 50%;
}
#precedent {
  // display: none;
  left: 0;
}
#suivant {
  // display: none;
  right: 0;
}
#slider:hover #precedent,
#slider:hover #suivant {
  opacity: 1;
}
@media screen and (max-width: 1430px) {
  .containerText{
    font-size: 0.9em;
    position: absolute;
    top: 40%;
  }
}
@media screen and (max-width: 1250px) {
  .containerText{
    font-size: 0.6em;
    position: absolute;
    top: 55%;
    left: 10%;
  }
  .containerSlider{
    width: 100%;
    height: 350px;
 }
 #slide{
  width: 100%;
  height: 650px;
 }
}
@media screen and (max-width: 900px) {
  .containerText{
    font-size: 0.5em;
    position: absolute;
    right: 10%;
  }
}