body {
  margin: 0;
}

#formulaire{
  background-color: rgb(255, 255, 255);
  width: 60%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 6px;
  height: 115px;
  text-align: center;
  border-bottom:7px solid rgb(2, 201, 2); 
}
