body {
  margin: 0;
}

#formulaire{
  background-color: rgb(255, 255, 255);
  width: 60%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 6px;
  height: 115px;
  text-align: center;
  background-color: rgb(249, 249, 249);
  border-bottom:7px solid  #8fb319;
  box-shadow: 2px 2px 2px 2px rgb(201, 201, 201);
}
.btn-general{
  background-color: #8fb319;
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1em;
  padding: 15px 35px;
  border: none;
  border-radius: 5px;
  margin-left: 15px;
}
.btn-general:hover{
  color: black;
}
// description
#description{
text-align: center;
background-color: #8fb319;
color: white;
}


#image{

align-items: center;
display: flex;
height: 100%;
justify-content: center;
margin: auto;
max-width: 70%;
text-align: center;
}

#ensavoirplus{

  color: white;
background-color: greenyellow;

}
// Images Défilantes
#img1{
  width: 370px;
  height: 252px;
}
#img2,#img3,#img4,#img5,#img6,#img7,#img8,#img9,#img10{
  width: 370px;
  height: 252px;
}

.image-slider{
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 150px;
}
.slider-container{
  display: flex;
  transition: transform 0.5s ease;
  gap: 50px;
  margin-left: 150px;
}
.slider-container .slide-annonce{
  width: calc(100%/3);
  height: auto;
  object-fit: cover;
}
.navigation{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navigation div{
  background-color: rgba(0, 0, 0, 0.499);
  color: #fff;
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
}
.navigation div.disabled{
  opacity: 0.5;
  cursor: not-allowed;
}
.prev,
.next{
  flex: 0 0 auto;
}
.bloc-txt{
  display: flex;
  background-color: white;
  border-bottom: black 1px solid;
  border-left: black 1px solid;
  border-right: black 1px solid;
  text-align: center;
  justify-content: center;
  color: black;
  margin-top: -4px;
  font-size: 1.5em;
  flex-direction: column;
  box-shadow: 2px 2px 2px rgb(191, 191, 191);
}
.bloc-txt:hover{
  background-color: #8fb3196b;
  transition: 0.3s;
  .green-CP{
    color: #fff;
    transition: 0.3s;
  }
}
.link-annonce:hover{
  transform: scale(1.02);
  transition: 0.3s;
.bloc-txt{
  background-color: #8fb3196b;
  transition: 0.3s;
  }
  .green-CP{
    color: #fff;
    transition: 0.3s;
  }
}
.green-CP{
  color: #8fb319;
}
.link-annonce{
  text-decoration: none;
}
// Titre entête
.titre-entete{
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2.75em; 
}
.green-entete{
  color: #8fb319;
}
// partie CONSEILS IMMO
.conseil-immo{
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.full-box{
  display: flex;
  width: 100%;
}
hr{
  margin-left: 47%;
  margin-right: 47%;
}
.link-conseil{
  text-decoration: none;
  color: black;
}
.img-conseil{
  width:400px;
  height:300px;
}
.article-conseil{
  background-color: white;
  border: #3e3e3e solid 2px;
  border-radius: 5px;
  color: #3e3e3e;
  font-size: 1.3em;
  padding: 12.5px 40px;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
